.menu {
	FONT-SIZE: 11px; MARGIN: 50px 0px; WIDTH: 106px; FONT-FAMILY: arial, sans-serif; POSITION: relative; HEIGHT: 150px
}
.menu UL LI A {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; FONT-SIZE: 11px; BACKGROUND: #c9c9a7; BORDER-LEFT: #fff 0px solid; WIDTH: 104px; COLOR: #000; LINE-HEIGHT: 19px; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menu UL LI A:visited {
	BORDER-RIGHT: #fff 1px solid; BORDER-TOP: #fff 1px solid; DISPLAY: block; FONT-SIZE: 11px; BACKGROUND: #c9c9a7; BORDER-LEFT: #fff 0px solid; WIDTH: 104px; COLOR: #000; LINE-HEIGHT: 19px; BORDER-BOTTOM: #fff 0px solid; HEIGHT: 20px; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.menu UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
.menu UL LI {
	FLOAT: left; MARGIN-RIGHT: 1px; POSITION: relative
}
.menu UL LI UL {
	DISPLAY: none
}
.menu UL LI:hover A {
	BACKGROUND: #b3ab79; COLOR: #fff
}
.menu UL LI:hover UL {
	DISPLAY: block; LEFT: 105px; WIDTH: 105px; POSITION: absolute; TOP: 0px
}
.menu UL LI:hover UL LI A.hide {
	BACKGROUND: #dfc184; COLOR: #000
}
.menu UL LI:hover UL LI:hover A.hide {
	WIDTH: 150px
}
.menu UL LI:hover UL LI UL {
	DISPLAY: none
}
.menu UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #b3ab79; WIDTH: 150px; COLOR: #000
}
.menu UL LI:hover UL LI A:hover {
	BACKGROUND: #dfc184; COLOR: #000
}
.menu UL LI:hover UL LI:hover UL {
	DISPLAY: block; LEFT: 151px; COLOR: #000; POSITION: absolute; TOP: 0px
}
.menu UL LI:hover UL LI:hover UL LI A {
	DISPLAY: block; BACKGROUND: #dfc184; WIDTH: 200px; COLOR: #000
}
.menu UL LI:hover UL LI:hover UL LI A:hover {
	BACKGROUND: #bd8d5e; COLOR: #fff
}
