#JQTreeview
{
  border: 1px solid #11B700;
  padding: 5px;
  width: 100%;
  height: 300px;
  overflow-y:scroll;
}

.expandNode
{
  cursor: pointer;
  width: 16px;
  height: 16px;
  background-color: #000;
  float: left;
  margin-right: 8px;
}

.expand
{
  background: url(http://www.switchonthecode.com/sites/default/files/707/images/expandIcon.png) no-repeat;
}

.collapse
{
  background: url(http://www.switchonthecode.com/sites/default/files/707/images/collapseIcon.png) no-repeat;
}

.NodeContents
{
  border-left: 0px solid #D2FFCC;
  margin-left: 4px;
  display: yes;
  padding-left: 5px;
}

span.ItemTitle
{
  font-size: 18px;
  width: 100%;
  text-decoration: underline;
}

div.NodeItem div.ItemTxt
{
  font-size: 18px;
  padding: 2px 5px;
  margin-bottom: 2px;
  text-decoration: none;
}